<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/fileManager</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">rootroot</property>
    <!--<property name="hibernate.id.new_generator_mappings">false</property>-->

    <!-- Раскоменьтив эту строчку мы позволим hibernate-у переделывать таблицы в БД
	это нужно для первого запуска, если мы хотим создать таблицы при помощи hibernate-->
    <!--<property name="hibernate.hbm2ddl.auto">update</property>-->
    <mapping class="com.metaverse.files.security.models.RegistrationKeyModel"/>
    <mapping class="com.metaverse.files.security.models.SecurityRoleModel"/>
    <mapping class="com.metaverse.files.security.models.UserModel"/>
  </session-factory>
</hibernate-configuration>